body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#FFFFFF;
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Osaka,arial,verdana,sans-serif;
    color: #5e5e5e;
}

a {
	text-decoration: none;
	color: #5e5e5e;
}

a:hover{
	color: #004A7C;
}

/* ---------- header ---------- */

header {
    background: #004A7C;
}

h1 {
    color: #FFFFFF;
    margin: 0;
    padding: 30px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover{
	color: #E8F1F5;
}

header ul {
    margin: 0;
    padding: 20px;
}

header li {
    list-style-type: none;
    display: inline;
    margin-right: 1em;
}

section:nth-child(odd) {
    background: #E8F1F5;
}

section {
    padding: 100px;
}

div.content_box {
    margin: 10px 200px;
    overflow: hidden;
}

h2 {
    text-align: left;
    margin: 0 0 20px;
}

/* ---------- #About ---------- */

div.p_ul_box {
	width: 500px;
	float: left;
	margin: 0;
}

p, li {
    text-align: left;
}

#about p.caption {
}

img.my_icon {
    float: right;
    border-radius: 10%;
}

i.fa {
	margin: 20px;
}

img.work_icon {
    border-radius: 10%;
    width: 230px;
    height: 230px;
    margin: 0 20px;
}

footer {
    color: #e0e0e0;
    background: #004A7C;
    padding: 50px;
}